
{% extends 'AppT360Bundle::BasePage.html.twig' %}

{% block body -%}
    <div class="form-group col-lg-3">
    <h1>T360Evaluations edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('t360evaluations') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

    </div>
{% endblock %}
