.top-buffer { margin-top:20%; }
.top-buffer-x10 { margin-top:10%; }
.top-buffer-x2 { margin-top:2%; }

.bottom-buffer  { margin-top: -3%;}
.hover-effect-red:hover{
    cursor: pointer;
}

.text-red-total{
    color: #3c8dbc !important;
}.text-blue-total{
     color: #3c8dbc !important;
 }.text-light-blue-total{
      color: #3c8dbc !important;
  }.text-yellow-total{
       color: #3c8dbc !important;
   }