{% extends 'AppT360Bundle::BasePage.html.twig' %}
    {% block body -%}
        <div class="container">
            <div class="box box-danger box-body col-lg-offset-2 col-lg-8">
                {{ form(form) }}
            </div>
        </div>
    {% endblock %}
