{% extends 'AppT360Bundle::BaseformPage.html.twig' %}

{% block body -%}
    <hr/>

    {{ form(edit_form) }}

    {#<ul class="record_actions">#}
        {#<li>#}
            {#<a href="{{ path('directions') }}">#}
                {#Back to the list#}
            {#</a>#}
        {#</li>#}
        {#<li>{{ form(delete_form) }}</li>#}
    {#</ul>#}
{% endblock %}
