<html>
<head>
    <script type="text/javascript" src="{{ asset('bundles/AppT360/js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppT360/js/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppT360/js/highcharts-more.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppT360/js/exporting.js') }}"></script>

</head>

<body>
    {% block body -%}

    {% endblock %}

</body>
</html>